@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,300;0,600;0,700;0,800;1,200&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  background-color: #f0f0f0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 110px;
}

.logo {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.8em;
  color: #3a6cf4;
}

.logo::before {
  content: " ";
  display: inline-block;
  width: 56px;
  height: 50px;
  position: absolute;
  left: 42px;
  top: 2px;
  background: url(../CSS/images/Builder.jpg) no-repeat;
  box-shadow: 0px 3px 3px 1px #cdd4e9;
  background-size: cover;
  background-position: center;
  border-radius: 35%;
}

/* .image img {
  width: 100%;
  border-radius: 35%;
  filter: blur(3px) ;
  filter: grayscale(100%);
  transition: 0.5s ease;
} */

/* .image img:hover {
  filter: grayscale(0%);
  box-shadow: 0px 3px 3px 2px #cdd4e9;
  transform: scale(1.1);
} */

.logo::first-letter {
  color: #5291c5;
  /* box-shadow: 0px 3px 3px 1px #cdd4e9; */
}

.main-nav {
  box-shadow: 0px 1px 5px 1px #627fe3;
}

.navigation a {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  color: #3a6cf4;
  padding-left: 30px;
  left: 100px;
}

.navigation a:hover {
  color: #601cfc;
}

section {
  padding: 10px 100px;
}

.main {
  width: 100%;
  min-height: 95vh;
  display: flex;
  align-items: center;
  background: url(../CSS/imgs/mohammad-rahmani-1bNQVGzuy0U-unsplash.jpg)
    no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main h2 {
  color: #f0f0f0;
  font-size: 1.4em;
  font-weight: 600;
}

.main h2 span {
  display: inline-block;
  margin-top: 10px;
  color: #4e9eff;
  font-size: 2.1em;
  font-weight: 660;
}
.main h3 {
  color: #f0f0f0;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.main-btn1 {
  color: white;
  background-color: #4876f5e6;
  font-size: 1.1em;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  border-radius: 19px;
  letter-spacing: 1.1px;
  margin-bottom: 30px;
  transition: 0.5s linear;
}

.main-btn1:hover {
  background-color: #6558da;
  box-shadow: 3px 5px 3px 1px #3c57af;
  transform: scale(1.1);
}

.socialicon a {
  color: white;
  display: inline-block;
  padding: 15px;
  font-size: 2em;
  transition: 0.5s ease-in;
}

.socialicon a:hover {
  /* background-color: #0227f8; */
  border-radius: 20px;
  box-shadow: 5px 5px 5px 1px #3f57a7;
  transform: scale(1.1);
}

.title {
  display: flex;
  justify-content: center;
  color: #3a6cf4;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background-color: #fffafa;
  width: 21.25em;
  box-shadow: 0px 3px 5px 1px #9aa1b7;
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.5s ease;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 15px 5px 7px #919ab8;
}

.icon {
  color: #3a6cf4;
  font-size: 8em;
  text-align: center;
}
.inf {
  text-align: center;
}

.inf h3 {
  color: #3a6cf4;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}
